[submodule "pack/theme/start/gruvbox"]
	path = pack/theme/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/theme/start/vim-airline"]
	path = pack/theme/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/theme/start/vim-airline-themes"]
	path = pack/theme/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/chaka/start/vim-polyglot"]
	path = pack/chaka/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/python/start/jedi-vim"]
	path = pack/python/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/chaka/start/auto-pairs"]
	path = pack/chaka/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "pack/chaka/start/nerdtree"]
	path = pack/chaka/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
